# build output
dist/
# deps
node_modules/
# astro
.astro/
# lighthouse ci reports
.lighthouseci/
# env
.env
.env.production
# misc
.DS_Store
# playwright e2e artifacts
test-results/
playwright-report/
